<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title>Title</title>
</head>

<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <a class="navbar-brand" href="#" th:href="@{/}">Password Manager</a>

</nav>


<br>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

            <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or password.</div>
                </div>

            <div th:if="${param.success}">
                <div class="alert alert-info"> Authentication Successful please Sign in again</div>
            </div>


            <div th:if="${param.logout}">
                <div class="alert alert-danger">You have been logged out.</div>
            </div>

            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h2 class="card-title text-center mb-5 fw-light fs-5">Sign In</h2>

                    <form th:action="@{/login}" method="POST">
                        <div class="form-float   ting mb-3">
                            <label for="username" style="margin-top:3px">User Name</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="username"
                                    name="username"
                                    placeholder="Enter The User Name">

                        </div>
                        <div class="form-floating mb-3">
                            <label for="password" style="margin-top:3px">Password</label>
                            <input
                                    type="password"
                                    class="form-control"
                                    id="password"
                                    name="password"
                                    placeholder="Password">

                        </div>

                        <div class="d-grid">
                            <button class="btn btn-warning btn-login text-uppercase fw-bold" type="submit">Sign
                                in
                            </button>
                        </div>
                        <br/>
                        <div class="row" style="float:right">
                            <p>Don't have an account? <a th:href="@{/registration}">Register Here</a></p>
                        </div>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>